*
{padding:0;
padding: 0;}

#wrapper
{border-top: 1px solid gray;
 border-bottom: 1px solid gray;
margin-top: -8px;
margin-right: -8px;
margin-left: -8px;
background-color: #ffffff}
#wrapper::after,
 nav>ul ::after,
 footer::after
 {
 	content: " ";
 	display: block;
 	clear: both;}
 body
 {
 	background-image: url(assets/images/brickwall_@2X.png );
    	
 }
 #logo
 {
   float: left;
   color:#ffffff;
   font-size: 30px;
   font-family: 'Georgia', Times, Times New Roman, serif;
   background-color:#4aaaa5;
   width: 225px; 
   height: 40px;
   padding: 18px;
   margin-left: 160px;
   position: relative;
}
 nav
 {
   float: right;
   margin-right: 255px;
   position: relative;
 }

 nav>ul
 {list-style: none;
 	margin-right: 20px;
 }
 nav>ul>li
 {
 	float: left;
 	margin: 15px;
 }
 nav>ul>li>a
 {
 	font-size: 15px;
 	font-family: 'Georgia', Times, Times New Roman, serif;
 	color:#777777;
    text-decoration: none;
    line-height: 1.3;   
 }
a:hover
{
	color: #4aaaa5;
}

#section
{
	height: 440px;
	width: 630px;
	background-color: #fff;
	float:left;
	margin-top: 35px;
	margin-left: 120px;
	position: relative;
}
.lefth1
{
    font-size: 34px;
	height: 70px;
	margin-left: 30px;
	margin-right: 30px;
	line-height: 1.4;
	color: #4aaaa5;
	border-bottom: 2px solid #dcdcdc;
}
#aside
{
    height: 200px;
	width: 310px;
	background-color: #ffffff;
	float:right;
	margin-top: 35px;
	margin-right: 215px;
	position: relative;
}

.righth1
{
	font-size: 30px;
	height: 80px;
	color: #4aaaa5;
	line-height: 2;
	border-bottom: 2px solid #dcdcdc;
	margin-left: 33px;
	margin-right: 30px;

}

#leftp
{
	height: 300px;
	width: 580px;
	font-size: 20px;
 	font-family: 'Georgia', Times, Times New Roman,serif;
    color:#777777;
    margin-left: 30px;
    text-align: left ;
    
}
#image
{
	margin-left: 0px;
	float: left;
}
.icons
{
  float: left;
  padding-left: 33px;
}
#article
{
	background-color: orange;
}
footer
{
	background-color: #666666;
	margin-top: 520px;
	height: 70px;
	margin-right: -8px;
	margin-left: -8px;
	border-top: 8px solid #4aaaa5;
	text-align: center;
	line-height: 4;
}
